<div class="card">
  <div class="card-header">
    CREACIÓN DE CLIENTES
  </div>

  <div class="card-body">
    <div class="row">
     
      <div class="col-12">

<form [formGroup]="formulario">

      <div class="mb-3 row">
          <label for="id" class="form-label">id</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" id="id" placeholder="id" formControlName="id">
        </div>
      </div>
      <div class="mb-3 row">
          <label for="nombre" class="form-label">Nombre</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" formControlName="nombre">
        </div>
      </div>

      <div class="mb-3 row">
          <label for="contraseña" class="form-label">Apellido</label>
          <div class="col-sm-10">
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido" formControlName="apellido">
        </div>
      </div>

      <div class="mb-3 row">
          <label for="contraseña" class="form-label">Contraseña</label>
          <div class="col-sm-10">
          <input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña" formControlName="password">
        </div>
      </div>

          <input type="checkbox" id="contacto" formControlName="contacto">
          <label for="contacto">¿Desea contacto?</label>
       
        
        <div *ngIf="formulario.get('contacto')?.value">
          <label for="correo" class="form-label">Dirección de correo</label>
          <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Ingrese el correo" formControlName="email">
        </div>
          <label for="telefono" class="form-label">Teléfono</label>
          <div class="col-sm-10">
          <input type="number" class="form-control" id="telefono" placeholder="Ingrese el teléfono" formControlName="telefono">
        </div>
        </div>
<br>
<br>
        <div class="row">
          <div class="col-2">
              <button type="submit" class="btn btn-info" (click)="guardarCliente()" routerLink="/vehiculos">Registro</button>
          </div>
        </div>

        <br>
      <div class="row">
     
          <a class="btn btn-secondary" routerLink="/home">Inicio</a>
        </div>
    
 
</form>
