<form [formGroup]="formulario">
  <div class="row">
    <div class="col-12">
      <div class="mb-3">
        <div>

          <label for="nombre" class="form-label">id</label>
          <input type="text" class="form-control" id="nombre" placeholder="id" formControlName="id">


          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="nombre" formControlName="nombre">

          <label for="contraseña" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="apellido" formControlName="apellido">

          <label for="contraseña" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">


          <input type="checkbox" id="contacto" formControlName="contacto">
          <label for="contacto">¿Desea contacto?</label>
        </div>
        
        <div *ngIf="formulario.get('contacto')?.value">
          <label for="correo" class="form-label">Dirección de correo</label>
          <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">

          <label for="telefono" class="form-label">Teléfono</label>
          <input type="number" class="form-control" id="telefono" placeholder="telefono" formControlName="telefono">
        </div>

        <div class="row">
          <div class="col-2">
              <button type="submit" class="btn btn-info" (click)="guardarCliente()">Registro</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <a class="btn btn-info" routerLink="/home">Inicio</a>
        </div>
      </div>
    </div>
  </div>
</form>
